:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 25px;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) {
    .mdc-notched-outline>* {
        border-color: rgba(0, 0, 0, 0.5) !important;
        z-index: 0 !important
    }

    .mdc-notched-outline__notch,
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
        background-color: white;
    }

    .mat-mdc-input-element {
        position: relative;
        z-index: 1;
    }
}