.mat-column-position {
    flex: 0 0 120px;
    justify-content: start;
}

.mat-column-name {
    flex: 0 0 40%;
    justify-content: start;
}

.mat-column-weight {
    justify-content: center;
}

.mat-column-symbol {
    justify-content: end;
}